%h1 Videos#new

= form_for [@match, @video] do |f|
  = f.label :camera
  = f.text_field :camera
  = f.hidden_field :match_id, value: @match.id
  %br
  = f.label :location
  = f.file_field :location, required: true
  %br
  = f.submit
