= form_for @match do |f|
  - if @match.errors.any?
    .errors
      = @match.errors.full_messages.join(', ').downcase.capitalize
  = f.label :name
  = f.text_field :name, required: true
  %br
  %br
  = label_tag "Add Players"
  %br
  %br
  = f.fields_for :players do |p|
    = p.label :upi, "UPI"
    = p.text_field :upi
    = p.label :first_name
    = p.text_field :first_name
    = p.label :last_name
    = p.text_field :last_name
    %br
  %br
  = f.submit