= form_for @match do |f|
  - if @match.errors.any?
    .errors
      = @match.errors.full_messages.join(', ').downcase.capitalize
  = f.label :name
  = f.text_field :name
  %br
  = f.fields_for :videos do |i|
    = i.label :camera_name
    = i.text_field :camera_name
    %br
    = i.label :location
    = i.file_field :location
  %br
  = f.submit