%h1
  = @match.name
%br
%h2 Additions
= link_to "Add Video", new_match_video_path(@match)
= link_to "Add Base Module Report", new_match_base_module_path(@match)
= link_to "Add Player", new_match_player_path(@match)
%h2 Videos
%ul
  - @match.videos.each do |video|
    %li
      = video.camera
%h2 Base Modules
%ul
  - @match.base_modules.each do |bm|
    %li
      = link_to bm.name, match_base_module_path(@match, bm)
%h2 Players
- @match.players.each do |player|
  %h3
    = player.name
  %h4 Clips
  %br
  - player.clips.each do |clip|
    %div
      = video_tag clip.video, controls: true
    %br
  %br
  %br